.counter-img{
    background-image:" url(../images/counterImg.jpg)";
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;

}
.counter-img::after{
position: absolute;
content: '';
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #1051a2;
opacity: .9;
z-index: -1;
}
.counter-img .imoji-grp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
}
.counter-img .imoji-grp .icon{
    font-size: 50px;
}
.counter-img .imoji-grp .text{
    line-height: 0;
}
.counter-img .imoji-grp .text h3{
    font-size: 25px;
    font-weight: 700;
}
.counter-img .imoji-grp .text p{
    font-weight: 300;
}